<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Betterloxd: Providing Features for Letterboxd Not On Letterboxd</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <script type="module" src="/scripts/home.js"></script>
</head>

<body>

    <div class="title-container">
        <h1>
            Welcome to Betterloxd
        </h1>
        <h4>
            Where all the features I want for Letterboxd live!
        </h4>
    </div>
    <div class="menu-container">
        <div class="item">
            <h3>Make list based on rating range.</h3>
            <img src="images/sevensRanked.png">
            <form action="/ratingRangeListMaker" method="get">
                <button type="submit" id="ratingsFilter">Select</button>
            </form>
        </div>
        <div class="item">
            <h3>Make list based on year watched.</h3>
            <img src="images/2022ranked.png">
            <form action="/yearWatchedListMaker" method="get">
                <button type="submit">Select</button>
            </form>
        </div>
       <div class="item">
            <h3>Rank a Betterloxd list.</h3>
            <img src="images/topEver.png">
            <form action="/listRanker" method="get">
                <button type="submit">Select</button>
            </form>
        </div>
    </div>
  </body>
</html>